body {
    background-color: #F0F4F6;
    margin: 0 auto;
    font-family: 'Gentium Book Basic', serif;
}

p.subTitle {
    background-color: #4B4848;
    margin-top: 40px;
    color: white;
    font-size: 30px;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.container {
    border: 5px solid black; 
    padding-top: 20px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #209DF8;
    margin: 20px 0px;
}
.jumbotron {
    color: white;
    margin-top: 20px;
    background-image: url("../images/train.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}